apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: auth-stack
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: 'https://github.com/Shasame/Yggdrasil.git'
    targetRevision: HEAD
    path: k8s/infrastructure/auth
  destination:
    server: https://kubernetes.default.svc
    namespace: auth
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true