apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: selfsigned-issuer
spec:
  selfSigned: {}
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: yggdrasil-ca
  namespace: cert-manager
spec:
  isCA: true
  commonName: yggdrasil-ca
  secretName: yggdrasil-ca-secret
  privateKey:
    algorithm: ECDSA
    size: 256
  issuerRef:
    name: selfsigned-issuer
    kind: ClusterIssuer
    group: cert-manager.io
---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: yggdrasil-issuer
spec:
  ca:
    secretName: yggdrasil-ca-secret