apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: selfsigned-issuer
  annotations:
    argocd.argoproj.io/sync-wave: "5"
spec:
  selfSigned: {}
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: yggdrasil-ca
  namespace: cert-manager
  annotations:
    argocd.argoproj.io/sync-wave: "5"
spec:
  isCA: true
  commonName: yggdrasil-ca
  secretName: yggdrasil-ca-secret
  privateKey:
    algorithm: ECDSA
    size: 256
  issuerRef:
    name: selfsigned-issuer
    kind: ClusterIssuer
    group: cert-manager.io
---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: yggdrasil-issuer
  annotations:
    argocd.argoproj.io/sync-wave: "5"
spec:
  ca:
    secretName: yggdrasil-ca-secret