---
- hosts: k3s_cluster
  become: true
  roles:
    - common

- hosts: master
  become: true
  roles:
    - master

- hosts: worker
  become: true
  roles:
    - worker

- hosts: master
  become: true
  tasks:
    - name: Fetch k3s.yaml for kubectl access
      fetch:
        src: /etc/rancher/k3s/k3s.yaml
        dest: ~/.kube/config
        flat: yes
    
    - name: Update kubeconfig server IP (Local Access)
      delegate_to: localhost
      become: false
      replace:
        path: ~/.kube/config
        regexp: '127.0.0.1'
        replace: "{{ inventory_hostname }}"
